<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Halaman About</title>
    <style>
        h1 {
            color: #8D006E; /* Warna judul About Me */
        }
    </style>
</head>
<body>

    <h1>About Me</h1>
    <p>Nama: A.Siti Azzah Defina</p>
    <p>Tempat, tgl lahir: Makassar 31 Oktober 2003</p>
    <p>Hobby: Membaca dan Nonton Drakor</p>
    <p>Status: Mahasiswa Universitas Negeri Makassar</p>
    
</body>
</html>
