<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>defyna</title>
    <style>
        body {
            background-color: #FFC0CB; /* Ganti dengan warna yang Anda inginkan */
        }
        h1 {
            color: #8D006E; /* Warna teks pink tua */
        }
    </style>
</head>
<body>

    <h1>HALAMAN UTAMA</h1>
    <h2>Category</h2>
    <ul>
        <li>About Me</li>
        <li>My Skills</li>
    </ul>

    <h2>Pages</h2>
    <ul>
        <li><a href="/about/">About Me</a></li>
        <li><a href="/myskills/">My Skills</a></li>
    </ul>

</body>
</html>
