<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Skills</title>
    <style>
        h1 {
            color: #8D006E; /* Warna judul My Skills */
        }
    </style>
</head>
<body>
    <h1>My Skills</h1>
    <ol>
        <li><a href="https://defyna.bisdigcloud.com/manage-database-with-xampp-mysql/">Manage Database With XAMPP MySQL</a><br><br></li>
        <li><a href="https://www.youtube.com/playlist?list=PLP8ahS0qug3m9onwbWZG9C13hq47l5p0f"/>Excel Accounting<br><br></li>
        <li><a href="https://azzahdefina.blogspot.com//">Write a Blog</li>
        <ol>

</body>
</html>
